.media {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
.media-title {
    display: flex;
    padding-left: 1rem;
}

.media-body {
    padding-left: 1rem;
}

.photo-list {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.dad {
    border: 1px solid black;
    height: min-content;
}

.tunnel {
    border: 1px solid black;
}

.slob {
    border: 1px solid black;
    height: min-content;

}